html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-image: url("../img/sky-clouds-moon-horizon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Coda', cursive; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

h1 {
  font-family: 'Coda', cursive;
  font-weight: 300;
  font-size: 28px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px; }

/*
 * Styles for the deck of cards
 */
.deck {
  width: 660px;
  min-height: 680px;
  background: rgba(255, 255, 255, 0.4);
  padding: 32px;
  border-radius: 10px;
  border: 1px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 3em;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  z-index: 1; }
  .deck .card {
    height: 125px;
    width: 125px;
    font-size: 48px;
    color: #ffffff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    -o-transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative; }
    .deck .card.open {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      cursor: default;
      pointer-events: none; }
    .deck .card .front,
    .deck .card .back {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0; }
    .deck .card .front {
      z-index: 2;
      background: #02b3e4;
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      -webkit-transition: background-color 300ms ease-in-out;
      -o-transition: background-color 300ms ease-in-out;
      transition: background-color 300ms ease-in-out;
      -webkit-transition-delay: 1200ms;
      -o-transition-delay: 1200ms;
      transition-delay: 1200ms;
      text-align: center; }
      .deck .card .front .card-img {
        position: relative;
        margin-top: 50%;
        top: -24px; }
    .deck .card .back {
      background: #2e3d49;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
    .deck .card.match {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      cursor: default;
      pointer-events: none;
      -webkit-animation: match 800ms cubic-bezier(0.52, 0.09, 0.53, 1.51);
      animation: match 800ms cubic-bezier(0.52, 0.09, 0.53, 1.51);
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-delay: 500ms;
      animation-delay: 500ms; }
      .deck .card.match .front {
        background-color: gold; }

@-webkit-keyframes match {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes match {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*
 * Styles for the Score Panel
 */
.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 8px 8px 0 0;
  border: 1px solid grey;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px 15px;
  margin-bottom: 0;
  position: relative;
  top: 1px;
  z-index: 2; }

.restart {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  font-size: 28px; }

.stars {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 5px 0 0; }
  .stars li {
    list-style: none;
    display: inline-block; }
    .stars li.hidden {
      will-change: transform opacity;
      -webkit-animation: popOut 500ms ease-in-out;
      animation: popOut 500ms ease-in-out;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }

@-webkit-keyframes popOut {
  20% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); } }

@keyframes popOut {
  20% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); } }

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: default; }

.modal-content {
  margin: auto auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid grey;
  text-align: center;
  -webkit-box-shadow: 0 18px 15px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 18px 15px 15px rgba(0, 0, 0, 0.2);
  z-index: 4;
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -150px; }
  .modal-content .exit {
    position: absolute;
    right: -7px;
    top: -7px;
    border-radius: 8px;
    background-color: #f00;
    font-size: 28px;
    color: #fff;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 20px;
    border: 1px solid grey;
    padding: 0;
    margin: 0; }
  .modal-content h2 {
    font-family: 'Coda', cursive;
    font-size: 28px;
    font-weight: 300; }
  .modal-content .stars {
    font-size: 48px;
    color: gold; }
  .modal-content .restart {
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 8px; }
    .modal-content .restart i {
      margin-right: 10px; }

.deck-selection {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid grey;
  margin: 10px auto;
  padding: 10px 15px; }
  .deck-selection select {
    border-radius: 8px;
    background: transparent;
    font-weight: bold;
    border: 1px solid grey;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px; }
